modules = ["nodejs-24", "python-3.11", "postgresql-16"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "typecheck"

[[workflows.workflow]]
name = "typecheck"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pnpm run typecheck"

[workflows.workflow.metadata]
isValidation = true

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
VAPID_PUBLIC_KEY = "BJe_mc0A-2wgboYArgcVv425ZXGpMsoOrXQol8DtBOXr80tphbqosI8ognlDKK9_YBxN3gFMiMWTT-e1zK1E6z4"
VAPID_SUBJECT = "mailto:admin@lawfirm.sa"
VAPID_PRIVATE_KEY = "qkPdD6prWkZ1iZX1UH9fa-Inr30rllR3OcbDJdYoYWI"
